{% extends "base.html" %}
{% load static %}

{% block content %}

{% load static %}

<section id="travel">
    <h2 class="title">Travel</h2>

    <div class="gallery">

        <img src="{% static 'images/travel1.jpeg' %}">
        <img src="{% static 'images/travel2.jpeg' %}">
        <img src="{% static 'images/travel3.jpeg' %}">
        <img src="{% static 'images/travel4.jpeg' %}">
        <img src="{% static 'images/travel5.jpeg' %}">
        <img src="{% static 'images/travel6.jpeg' %}">
        <img src="{% static 'images/travel7.jpeg' %}">
        <img src="{% static 'images/travel8.jpeg' %}">
        <img src="{% static 'images/travel9.jpeg' %}">
        <img src="{% static 'images/travel10.jpeg' %}">
        <img src="{% static 'images/travel11.jpeg' %}">

    </div>
</section>

{% endblock content %}